<template>
    <div class="dashboard">
        <div class="dashboard-item"
            v-touch:touchhold.prevent="() => { fireTouchHold(); goToLastCodingTask(); }"
            v-touch:tap.prevent="() => { if (!touchHoldFired) {$router.push({name: 'local_tasks_list'})} }"
        >
            <task-icon icon="fa fa-code" :status-icon="this.getLastCodingTask !== null ? 'has-latest-coding-task' : ''"/>
            <span class="name">Coding</span>
        </div>

        <div v-for="key in tasksOrder" :key="key"
             class="dashboard-item"
             v-touch:touchhold.prevent="() => { fireTouchHold(); showWorklogPrompt(key); }"
             v-touch:tap.prevent="() => { if (!touchHoldFired) {runTask(key);}}"
             @contextmenu.prevent="() => {}"
        >
            <task-icon v-if="getPermanentTasks[key] !== undefined"
               :icon="getPermanentTasks[key].icon"
               :status-icon="getPermanentTaskStatusIcon(key)"
               :status-icon-title="getPermanentTaskJiraIssueKey(key)"
            />
            <span class="name">{{ key }}</span>
        </div>

        <daily-history :data="dailyHistory" />
        <confirm v-if="createJiraIssueConfirm.show"
                 :question="`Do you want to create '${createJiraIssueConfirm.key}' issue first?`"
                 confirm-text="Yes, create."
                 cancel-text="Hell no!"
                 @close="createJiraIssueConfirm.show = false"
                 @confirm="createTask"
                 @cancel="forceRunTask"
        ></confirm>

        <prompt v-if="worklogCommentPrompt.show"
                 :header="`Reporting worklog to '${worklogCommentPrompt.key}' issue`"
                 confirm-text="Report worklog"
                 cancel-text="Cancel"
                 @close="worklogCommentPrompt.show = false"
                 @confirm="reportWorklog"
                 @details="showReportDetails"
        >
            <template v-slot:extra-buttons="slotProps">
                <div class="button cancel-button" @click="slotProps.details">Show details</div>
            </template>
        </prompt>
    </div>
</template>

<script>
    import WorklogManager from "../services/WorklogManager";
    import DailyHistory from "../components/DailyHistory";
    import DbClient from "../clients/DbClient";
    import JiraProxyClient from "../clients/JiraProxyClient";
    import TaskIcon from "../components/TaskIcon";
    import Confirm from "../components/Confirm";
    import Prompt from "../components/Prompt";
    import VuexStoreMixin from "../mixins/VuexStoreMixin";
    import TimeFormatter from "../services/TimeFormatter";
    import moment from "moment";

    export default {
        name: "Dashboard",
        components: {Prompt, Confirm, TaskIcon, DailyHistory},
        mixins: [VuexStoreMixin],
        data() {
            return {
                tasksOrder: [
                    /* Tasks */ 'MEETINGS',     'SERVICE',
                    'REVIEW',   'BRAINSTORM',   'DEPLOYMENT',
                    'OTHER',    'HARDWARE',     'HELP'
                ],
                dailyHistory: [],
                createJiraIssueConfirm: {
                    show: false,
                    key: null,
                },
                worklogCommentPrompt: {
                    show: false,
                    key: null,
                },
                touchHoldFired: false,
            };
        },
        watch: {
            'createJiraIssueConfirm.show'(value) {
                if (value === false) {
                    this.createJiraIssueConfirm.key = null;
                }
            },
            'worklogCommentPrompt.show'(value) {
                if (value === false) {
                    this.createJiraIssueConfirm.key = null;
                }
            },
        },
        methods: {
            async showReportDetails() {
                const key = this.worklogCommentPrompt.key;
                const task = this.getPermanentTasks[key];

                const jiraIssueKey = task.jiraIssue !== undefined
                    ? task.jiraIssue.key
                    : null
                ;

                if (null === jiraIssueKey) {
                    this.$toastr.warning(`Issue for "${key}" is not created in Jira yet.`);
                    return;
                }

                const unreportedWorklogs = await this.worklogManager.getUnreportedWorklogs(key, this.getToday);

                for (const worklog of unreportedWorklogs) {
                    this.$toastr.info(`${jiraIssueKey} [${moment(worklog.started_date).format('YYYY-MM-DD HH:mm')}] <b>${TimeFormatter.format(worklog.duration)}</b>`, null, {timeOut: 10000});
                }
            },

            /**
             * @param {string} key
             */
            getPermanentTaskJiraIssueKey(key) {
                const task = this.getPermanentTasks[key];

                if (task) {
                    const jiraIssue = task.jiraIssue;

                    if (!!jiraIssue) {
                        return `${jiraIssue.key}: ${jiraIssue.fields.issuetype.name}`;
                    }
                }

                return '';
            },

            /**
             * @param {string} key
             */
            getPermanentTaskStatusIcon(key) {
                const task = this.getPermanentTasks[key];

                if (task) {
                    const hasJiraPersistedIssue = !!task.jiraIssue;
                    const hasUnreportedTime = !!task.jiraIssue && task.unreported_duration > 0;

                    if (hasJiraPersistedIssue && hasUnreportedTime) {
                        return 'jira-issue-persisted-unreported';
                    }

                    if (hasJiraPersistedIssue) {
                        return 'jira-issue-persisted';
                    }

                    return '';
                }

                return '';
            },

            /**
             * @param {Number} duration
             */
            timeFormatted(duration) {
                return TimeFormatter.format(duration);
            },

            /**
             * @param {string} key
             */
            showWorklogPrompt(key) {
                this.worklogCommentPrompt.show = true;
                this.worklogCommentPrompt.key = key;
            },

            /**
             * @param {string} value
             */
            async reportWorklog({value}) {
                const today = this.getToday;
                const key = this.worklogCommentPrompt.key;
                const task = this.getPermanentTasks[key];

                const jiraIssueKey = task.jiraIssue !== undefined
                    ? task.jiraIssue.key
                    : null
                ;

                if (null === jiraIssueKey) {
                    this.$toastr.warning(`Issue for "${key}" is not created in Jira yet.`);
                    return;
                }

                await this.worklogManager.closeWorklog();
                const unreportedWorklogs = await this.worklogManager.getUnreportedWorklogs(key, today);

                try {
                    await this.worklogManager.markWorklogsAsReporting(unreportedWorklogs);

                    for (const worklog of unreportedWorklogs) {
                        const startedDate = moment(worklog.started_date).format('YYYY-MM-DDTHH:mm:ss.SSSZZ');
                        await this.jira.reportWorklog(jiraIssueKey, worklog.duration, startedDate, `Chronos: ${value}`);
                    }

                    await this.worklogManager.markWorklogsAsReported(unreportedWorklogs);
                } catch (error) {
                    this.$toastr.error(`An error occurred while reporting <b>"${key}"</b> worklogs!`);

                    console.error(error);
                }

                const totalDuration = unreportedWorklogs.reduce((total, task) => {return total + task.duration}, 0);

                this.$toastr.success(`Successfully reported <b>${this.timeFormatted(totalDuration)}</b> for <b>"${key}"</b>.`);
            },

            /* @todo: improve this quickfix */
            fireTouchHold() {
                this.touchHoldFired = true;

                setTimeout(() => {
                    this.touchHoldFired = false;
                }, 800);
            },

            async goToLastCodingTask() {
                if (this.getLastCodingTask === null) {
                    this.$toastr.info('There is no any recent coding task present.')
                } else {
                    await this.worklogManager.openNewWorklog(this.getLastCodingTask.key);
                    await this.$router.push({name: 'task_run', params: {key: this.getLastCodingTask.key}});
                }
            },

            /**
             * @param {string} key
             *
             * @returns {Promise<void>}
             */
            async runTask(key) {
                if (!this.hasJiraIssueCreated(key)) {
                    this.createJiraIssueConfirm.key = key;
                    this.createJiraIssueConfirm.show = true;
                } else {
                    if (false == key) {
                        this.$toastr.error('Task is empty');
                    }

                    await this.worklogManager.openNewWorklog(key);
                    await this.$router.push({name: 'task_run', params: {key}});
                }
            },

            async forceRunTask() {
                const key = this.createJiraIssueConfirm.key;

                if (false == key) {
                    this.$toastr.error('Task is empty');
                }

                await this.worklogManager.openNewWorklog(key);
                await this.$router.push({name: 'task_run', params: {key: key}});
            },

            async createTask() {
                const task = this.getPermanentTasks[this.createJiraIssueConfirm.key];

                const currentSprint = this.getActiveSprints[this.getJiraBoard];

                if (!currentSprint) {
                    this.$toastr.warning('There is no active sprint available, add issue to sprint manually.');
                }

                const {data} = await this.jira.createIssue(
                    task.attributes.project,
                    task.attributes.summary,
                    task.attributes.description,
                    task.attributes.type,
                    this.getToday,
                    currentSprint.id || null
                );

                this.$set(this.getPermanentTasks[task.key], 'jiraIssue', data);

                this.createJiraIssueConfirm.show = false;

                await this.runTask(task.key);
            },

            async fetchDailyHistory() {
                this.dailyHistory = await this.database.getDailyHistory(this.getToday);
            },

            /**
             * @param {string|null} dueDate
             *
             * @returns {Promise<void>}
             */
            async fetchPermanentTasks(dueDate = null) {
                const tasks = await this.database.getTasksByType('permanent');

                this.setPermanentTasks(tasks);

                for (const key in this.getPermanentTasks) {
                    await this.fetchJiraIssueForTask(key, dueDate, dueDate);
                }
            },

            /**
             * @param {string} key
             * @param {string|null} dateFrom
             * @param {string|null} dateTo
             *
             * @returns {Promise<void>}
             */
            async fetchJiraIssueForTask(key, dateFrom, dateTo) {
                const task = this.getPermanentTasks[key];

                if (null !== task.search_jql) {
                    const jql = this.preparePermanentTaskJql(task.search_jql, dateFrom, dateTo);
                    try {
                        const issues = await this.jira.findIssue(jql);

                        if (issues.length === 1) {
                            task.jiraIssue = issues[0];
                            this.setPermanentTaskByKey({key, task});
                        } else if (issues.length > 1) {
                            this.$toastr.warning(`Task ${task.key} has ${issues.length} issues!`);
                        }
                    } catch (error) {
                        this.$toastr.error(`An error occurred while fetching jira issue for "${key}"!`);
                    }
                }
            },

            /**
             * @param {string} key
             *
             * @returns {boolean}
             */
            hasJiraIssueCreated(key) {
                return this.getPermanentTasks[key].jiraIssue instanceof Object;
            },

            /**
             * @param {string} jql
             * @param {string|null} dateFrom
             * @param {string|null} dateTo
             * @returns {*}
             */
            preparePermanentTaskJql(jql, dateFrom = null, dateTo = null) {
                const startOfDay = moment().format('YYYY-MM-DD 00:00');
                const ednOfDay = moment().format('YYYY-MM-DD 23:59');

                return jql
                    .replace('{{startOfDay}}', `'${dateFrom || startOfDay}'`)
                    .replace('{{endOfDay}}', `'${dateTo || ednOfDay}'`)
                ;
            }
        },
        async mounted() {
            this.worklogManager = new WorklogManager();
            this.database = new DbClient();
            this.jira = new JiraProxyClient();

            this.$emit('task-change');

            await this.fetchPermanentTasks(this.getToday);
            await this.fetchDailyHistory();
        }
    }
</script>

<style scoped lang="scss">
    .dashboard {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 60px 0;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;

        .dashboard-item {
            width: 30vw;
            height: 30vh;
            text-align: center;
            color: #ffffff;
            opacity: 0.7;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
                opacity: 1;
            }

            .name {
                display: block;
                text-transform: capitalize;
                margin-top: 1em;
                text-shadow: 0 0 7px rgba(255,255,255,0.3);
                color: #000000;
            }
        }
    }
</style>