<template>
    <div class="remote-tasks-list" v-touch:swipe.right="goToLocalTasksList">
        <div class="loader-wrapper" v-if="isLoading">
            <circle-loader size="100px" />
        </div>
            <transition-group name="task" tag="ul" v-else class="tasks">
                <li class="task" v-for="task in tasks" :key="`task_${task.id}`" @dblclick="importTask(task)" :class="{importing: isTaskImporting(task)}">
                    <div class="task-id">{{task.key}}</div>
                    <div class="task-summary">{{task.fields.summary}}</div>
                    <div class="created-at">{{task.fields.created}}</div>
                    <div class="created-by"><img :src="task.fields.creator.avatarUrls['16x16']"> {{task.fields.creator.displayName}}</div>
                    <div class="type">{{task.fields.issuetype.name}}</div>
                    <div class="priority"><img :src="task.fields.priority.iconUrl" class="icon"> {{task.fields.priority.name}}</div>
                </li>
            </transition-group>
    </div>
</template>

<script>
    import JiraClient from "../clients/JiraProxyClient";
    import CircleLoader from "vue-loading-spinner/src/components/Circle";
    import DbClient from "../clients/DbClient";

    export default {
        name: "RemoteTasksList",
        components: {CircleLoader},
        data: function() {
            return {
                tasks: [],
                isLoading: true,
                importingTasks: [],
            };
        },
        methods: {
            /**
             * @param {object} task
             */
            isTaskImporting(task) {
                return this.importingTasks.filter((importingTask) => {return importingTask === task.key;}).length > 0;
            },

            goToLocalTasksList() {
                this.$router.push({name: 'local_tasks_list'});
            },

            async fetchTasksList() {
                try {
                    const issues = await this.jira.getMyOpenIssuesList();
                    this.tasks = await this.filterUnimportedTasks(issues);
                } catch (error) {
                    console.error(error);
                    this.$toastr.error('An error occurred while fetching open tasks list!');
                }

                this.isLoading = false;
            },

            /**
             *  @param {array} jiraTasks
             *  @returns {array}
             */
            async filterUnimportedTasks(jiraTasks) {
                const tasks = await this.database.getTasksList(1);

                const importedTaskKeys = tasks.map((task) => {
                    return task.key;
                });

                return jiraTasks.filter((jiraTask) => {
                    return !importedTaskKeys.includes(jiraTask.key);
                });
            },

            /**
             * @param {object} task
             * @returns {Promise<void>}
             */
            async importTask(task) {
                this.importingTasks.push(task.key);

                try {
                    const localTask = await this.database.getTask(task.key);

                    if (localTask !== null) {
                        this.$toastr.warning('Task already imported!');
                    } else {
                        await this.database.createTask(task.key, task.fields.summary);
                        this.tasks = this.tasks.filter((jiraTask) => {return jiraTask.key !== task.key});
                        this.$toastr.success(`Task <b>"${task.key}"</b> imported.`);
                    }
                } catch (error) {
                    console.error(error);
                    this.$toastr.error(`An error occurred while importing task ${task.key}!`);
                }

                this.importingTasks = this.importingTasks.filter((importingTask) => {return importingTask !== task.key;});
            }
        },
        mounted() {
            this.database = new DbClient();
            this.jira = new JiraClient();
            this.fetchTasksList();
        }
    }
</script>

<style scoped lang="scss">
    @mixin gradient-striped($color: rgba(255,255,255,.05), $angle: -45deg) {
        background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
        background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    }

    @-webkit-keyframes progress-bar-stripes {
        from  { background-position: 40px 0; }
        to    { background-position: 0 0; }
    }

    @mixin animation($animation) {
        -webkit-animation: $animation;
        -o-animation: $animation;
        animation: $animation;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #1b1b1b;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .task-leave-active {
        transition: opacity 0.3s, margin-top 0.5s;
    }

    .task-leave {
        opacity: 1;
        margin-top: 0;
    }

    .task-leave-to {
        opacity: 0;
        margin-top: -75px;
    }

    .remote-tasks-list {
        width: 100vw;
        height: 100vh;
        padding: 60px;
        box-sizing: border-box;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
    }

    .loader-wrapper {
        width: 100px;
        height: 100px;
        position: fixed;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

    .tasks {
        list-style-type: none;

        .task {
            margin-bottom: 10px;
            color: #ffffff;
            background-color: #072742a0;
            box-shadow: 2px 2px 4px #01070ca0;
            cursor: pointer;
            padding: 20px;
            box-sizing: border-box;

            &.importing {
                @include animation(progress-bar-stripes 2s linear infinite);
                @include gradient-striped;
                background-size: 40px 40px;
            }

            .task-id {
                font-weight: bold;
            }

            .task-summary {
                font-size: 0.8em;

            }

            .priority {
                .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
</style>