<template>
    <div class="task-run" v-touch:swipe.right="goToDashboard" v-touch:touchhold.prevent="goToDashboard">
        <div class="task" v-if="task !== null">
            <div class="icon-wrapper">
                <task-icon :icon="taskIcon" />
            </div>
            <div class="info-wrapper">
                <div class="name" :class="{'permanent': isTaskPermanent}">
                    <i class="fa fa-gear fa-spin" v-if="isTaskPermanent"></i> {{ task.key }}
                </div>
                <div class="summary">{{ task.summary }}</div>
                <div class="timer">
                    Unreported: <timer :initial-time="task.unreported_duration" :running="isTaskRunning" />
                </div>
                <div class="timer" style="opacity: 0.3;">
                    Total: <timer :initial-time="task.duration" :running="isTaskRunning" />
                </div>
            </div>
            <div class="icon-wrapper" style="margin-left: 100px; cursor: pointer;">
                <i class="icon fa" :class="{'fa-unlock-alt': thisTaskIsLocked === false, 'fa-lock': thisTaskIsLocked === true}" @click="toggleLockRunningTask"></i>
            </div>
            <div v-if="!isTaskPermanent" class="icon-wrapper" style="margin-left: 30px; cursor: pointer;">
                <i class="icon fa" :class="{'fa-heartbeat': isUserWorkingAwayFromKeyboard === false, 'fa-heart': isUserWorkingAwayFromKeyboard === true}" @click="toggleWorkingAwayFromKeyboard"></i>
            </div>
        </div>
        <circle-loader v-else />
    </div>
</template>

<script>
    import Timer from "../components/Timer";
    import DbClient from "../clients/DbClient";
    import Diamond from "vue-loading-spinner/src/components/Diamond";
    import Stretch from "vue-loading-spinner/src/components/Stretch";
    import CircleLoader from "vue-loading-spinner/src/components/Circle";
    import VuexStoreMixin from "../mixins/VuexStoreMixin";
    import TaskIcon from "../components/TaskIcon";

    export default {
        name: "TaskRun",
        components: {TaskIcon, CircleLoader, Stretch, Diamond, Timer},
        mixins: [VuexStoreMixin],
        data() {
            return {
                task: null,
            };
        },
        computed: {
            /**
             * @returns {string}
             */
            currentTaskKey() {
                return this.$router.currentRoute.params.key;
            },

            /**
             * @returns {boolean}
             */
            thisTaskIsLocked() {
                return this.getLockedTask !== null && this.getLockedTask.key === this.currentTaskKey;
            },

            /**
             * @returns {string}
             */
            taskIcon() {
                return this.task.type === 'task'
                    ? 'fa fa-code'
                    : this.task.icon
                ;
            },

            /**
             * @returns {boolean}
             */
            isTaskPermanent() {
                return this.task.type === 'permanent';
            },

            /**
             * @returns {boolean}
             */
            isTaskRunning() {
                const isTaskPermanent = this.isTaskPermanent;
                const isUserActive = this.isUserActive;
                const isUserWorkingAwayFromKeyboard = this.isUserWorkingAwayFromKeyboard;

                return isTaskPermanent || isUserActive || isUserWorkingAwayFromKeyboard;
            }
        },
        methods: {
            toggleLockRunningTask() {
                if (this.thisTaskIsLocked) {
                    this.setLockedTask(null);
                } else {
                    this.setLockedTask(this.task);
                }
            },

            toggleWorkingAwayFromKeyboard() {
                this.setUserWorkingAwayFromKeyboard(!this.isUserWorkingAwayFromKeyboard);
            },

            async goToDashboard() {
                if (this.thisTaskIsLocked === false) {
                    await this.database.closeWorklog();
                }

                await this.$router.push({name: 'dashboard'});
            },

            async fetchTaskData() {
                try {
                    this.task = await this.database.getTask(this.currentTaskKey);
                } catch (error) {
                    console.error(error);
                    this.$toastr.error('fetchTaskData error!');
                }
            },
        },
        async mounted() {
            this.database = new DbClient();
            await this.fetchTaskData();
            this.$emit('task-change');
        }
    }
</script>

<style scoped lang="scss">
    .task-run {
        width: 100vw;
        height: 100vh;
        padding: 60px;
        box-sizing: border-box;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
    }

    .task {
        display: flex;
        color: #ffffff;

        .icon {
            font-size: 20vh;
            margin-right: 20px;
        }

        .info-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name {
                font-size: 2em;
                font-weight: bold;
            }

            .summary {
                opacity: 0.7;
                padding-bottom: 1em;
            }
        }

        .fa-unlock-alt {
            opacity: 0.7;
        }

        .fa-heartbeat {
            opacity: 0.7;
        }
    }
</style>