<template>
    <div class="confirm">
        <div class="question" slot="question">
            {{ question }}
        </div>
        <div class="buttons">
            <div class="button confirm-button" slot="confirm-button" @click="confirm">{{ confirmText }}</div>
            <div class="button cancel-button" slot="cancel-button" @click="cancel">{{ cancelText }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Confirm",
        props: {
            question: {
                type: String,
                default: 'Do you really want to perform this operation?',
            },
            confirmText: {
                type: String,
                default: 'Yes, do it!',
            },
            cancelText: {
                type: String,
                default: 'No, cancel.',
            },
        },
        methods: {
            confirm() {
                this.$emit('confirm');
                this.$emit('close');
            },

            cancel() {
                this.$emit('cancel');
                this.$emit('close');
            }
        },
    }
</script>

<style scoped lang="scss">
    .confirm {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(57, 100, 200, 1);

        .question {
            width: 80%;
            font-size: 3vw;
            margin: 20vh auto 20vh;
            color: #ffffff;
            text-align: center;
        }

        .buttons {
            display: flex;
            justify-content: space-around;

            .button {
                border: 1px solid #ffffff;
                border-radius: 10px;
                background-color: #ffffff;
                color: #3964c8;
                padding: 15px;
                font-size: 2vw;
                cursor: pointer;

                &.cancel-button {
                    background-color: transparent;
                    color: #ffffff;
                }
            }
        }
    }
</style>