<template>
    <div class="daily-history">
        <div v-for="(worklog, key) in data" :key="`worklog_${key}`"
             :style="getWorklogStyle(key)"
             :title="`${worklog.task} [${getTimeFromDate(worklog.started_date)}]: ${getDurationFormatted(worklog)}`"
        >
        </div>
    </div>
</template>

<script>
    import moment from "moment";
    import TimeFormatter from "../services/TimeFormatter";

    export default {
        name: "DailyHistory",
        props: {
            data: {
                type: Array,
                required: true,
            }
        },
        computed: {
            /**
             * @returns {Number}
             */
            totalDuration() {
                const totalDuration = this.data.reduce((carry, worklog) => {
                    return worklog.duration + carry;
                }, 0);

                const workDaySeconds = 8*3600 + 20*60;

                return totalDuration < workDaySeconds
                    ? workDaySeconds
                    : totalDuration
                ;
            },
        },
        methods: {
            /**
             * @param {string} date
             *
             * @returns {string}
             */
            getTimeFromDate(date) {
                return moment(date).format('HH:mm');
            },

            /**
             * @param {object} worklog
             *
             * @returns {string}
             */
            getDurationFormatted(worklog) {
                return TimeFormatter.format(worklog.duration);
            },

            /**
             * @param {string} key
             *
             * @returns {string}
             */
            taskColor(key) {
                switch (true) {
                    case key.indexOf('BRAINSTORM') === 0:
                        return '#c1be31';
                    case key.indexOf('REVIEW') === 0:
                        return '#0688ff';
                    case key.indexOf('SERVICE') === 0:
                        return 'rgba(160,0,0,0.78)';
                    case key.indexOf('OTHER') === 0:
                        return '#4c0e7f';
                    case key.indexOf('HELP') === 0:
                        return '#ff1f68';
                    case key.indexOf('MEETINGS') === 0:
                        return '#ff8200';
                    case key.indexOf('DEPLOYMENT') === 0:
                        return '#194aff';
                    default:
                        return '#24b95d';
                }
            },

            /**
             * @param {string} key
             *
             * @returns {object}
             */
            getWorklogStyle(key) {
                const previousWorklog = this.data[key-1] || null;
                const worklog = this.data[key];

                let timeBetweenTasks = 0;

                if (null !== previousWorklog) {
                    timeBetweenTasks = worklog.started_at - previousWorklog.ended_at;
                }

                return {
                    width: `${worklog.duration/this.totalDuration*100}%`,
                    'margin-left': `${timeBetweenTasks/this.totalDuration*100}%`,
                    'background-color': this.taskColor(worklog.task),
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .daily-history {
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 0;
        transition: 0.5s height;
        width: 100vw;
        height: 5px;
        display: inline-block;
        filter: saturate(50%);
        background-color: #ffffff1f;

        &:hover {
            height: 35px;
        }

        & > div {
            height: 100%;
            display: inline-block;
        }
    }
</style>