<template>
    <div class="full-screen" @click="$emit('click')">
        <div class="info">
            Tap anywhere to enter full screen...
        </div>
    </div>
</template>

<script>
    export default {
        name: "FullScreen",
    }
</script>

<style scoped lang="scss">
    .full-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: rgba(0,0,0, 0.9);
        display: flex;

        .info {
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            line-height: 100vh;
            width: 100%;
            font-size: 3vw;
            color: #ffffff;
        }
    }
</style>