<template>
    <div class="prompt">
        <div class="prompt-container" :class="{compressed: keyboard}">
            <div class="header" slot="header">
                {{ header }}
            </div>
            <div class="input" slot="input">
                <input type="text" readonly ref="comment" @focus="showKeyboard" v-model="value" placeholder="Please, tell me what you've done...">
            </div>
            <div class="buttons">
                <div class="button confirm-button" slot="confirm-button" @click="confirm">{{ confirmText }}</div>
                <slot name="extra-buttons" v-bind:details="details"></slot>
                <div class="button cancel-button" slot="cancel-button" @click="cancel">{{ cancelText }}</div>
            </div>
        </div>

        <vue-touch-keyboard layout="normal" :options="{}" v-if="keyboard" :accept="keyboardAccept" :input="input" />
    </div>
</template>

<script>
    import Vue from "vue";
    import VueTouchKeyboard from "vue-touch-keyboard";
    import "vue-touch-keyboard/dist/vue-touch-keyboard.css";

    Vue.use(VueTouchKeyboard);

    export default {
        name: "Prompt",
        components: { "vue-touch-keyboard": VueTouchKeyboard.component},
        props: {
            header: {
                type: String,
                default: 'Do you really want to perform this operation?',
            },
            confirmText: {
                type: String,
                default: 'Yes, do it!',
            },
            cancelText: {
                type: String,
                default: 'No, cancel.',
            },
        },
        data() {
            return {
                input: null,
                value: '',
                keyboard: false,
                keyboardLayout: null,
            };
        },
        methods: {
            showKeyboard() {
                this.keyboard = true;
            },

            hideKeyboard() {
                this.keyboard = false;
            },

            confirm() {
                this.$emit('confirm', {value: this.value});
                this.$emit('close');
            },

            cancel() {
                this.$emit('cancel');
                this.$emit('close');
            },

            details() {
                this.$emit('details');
            },

            keyboardAccept() {
                this.hideKeyboard();
            }
        },
        mounted() {
            this.keyboardLayout = {
                "chronos": {
                    _meta: {
                        "tab": { key: "\t", text: "Tab", width: 60, classes: "control"},
                        "shiftl": { keySet: "shifted", text: "Shift", width: 100, classes: "control"},
                        "shiftr": { keySet: "shifted", text: "Shift", width: 100, classes: "control"},
                        "caps": { keySet: "capsed", text: "Caps lock", width: 80, classes: "control"},
                        "space": { key: " ", text: "Space", width: 180},
                        "enter": { key: "\r\n", text: "Enter", width: 80, classes: "control"},
                        "backspace": { func: "backspace", classes: "control backspace", width: 65},
                        "accept": { func: "accept", text: "Close", classes: "control featured"},
                        "next": { func: "next", text: "Next", classes: "control featured"}
                    },

                    default: [
                        "` 1 2 3 4 5 6 7 8 9 0 - = {backspace}",
                        "{tab} q w e r t y u i o p [ ] \\",
                        "{caps} a s d f g h j k l ; ' {enter}",
                        "{shiftl} z x c v b n m , . / {shiftr}",
                        "{next} {space} {accept}"
                    ],
                    shifted: [
                        "~ ! @ # $ % ^ & * ( ) _ + {backspace}",
                        "{tab} Q W E R T Y U I O P { } |",
                        "{caps} A S D F G H J K L : \" {enter}",
                        "{shiftl} Z X C V B N M < > ? {shiftr}",
                        "{next} {space} {accept}"
                    ],

                    capsed: [
                        "` 1 2 3 4 5 6 7 8 9 0 - = {backspace}",
                        "{tab} Q W E R T Y U I O P [ ] \\",
                        "{caps} A S D F G H J K L ; ' {enter}",
                        "{shiftl} Z X C V B N M , . / {shiftr}",
                        "{next} {space} {accept}"
                    ]
                },
            };

            this.input = this.$refs.comment;
        }
    }
</script>

<style scoped lang="scss">
    .vue-touch-keyboard {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        z-index: 1000;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        height: 48vh;
        padding: 1em;

        background-color: #EEE;
        box-shadow: 0px -3px 10px rgba(black, 0.3);

        border-radius: 10px;
    }

    .prompt {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #185D22;

        .prompt-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100vh;
            transition: height 0.5s;

            &.compressed {
                height: 50vh;
            }

            .header {
                width: 100vw;
                font-size: 3vw;
                color: #ffffff;
                text-align: center;
            }

            .input {
                input {
                    border: none;
                    display: block;
                    font-size: 2vw;
                    outline: none;
                    background-color: #ffffff;
                    padding: 10px;
                    border-radius: 10px;
                    width: 80vw;
                    margin: auto;
                    color: #404040;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-around;

                .button {
                    border: 1px solid #ffffff;
                    border-radius: 10px;
                    background-color: #ffffff;
                    color: #185D22;
                    padding: 15px;
                    font-size: 2vw;
                    cursor: pointer;

                    &.cancel-button {
                        background-color: transparent;
                        color: #ffffff;
                    }
                }
            }
        }
    }
</style>