<template>
    <i class="icon" :class="icon">
        <i v-if="statusIcon !== ''" class="status-icon"  :title="statusIconTitle" :class="[statusIconClass, statusIconColorClass]"></i>
    </i>
</template>

<script>
    export default {
        name: "TaskIcon",
        props: {
            icon: {
                type: String,
                required: true,
            },
            statusIcon: {
                type: String,
                default: '',
            },
            statusIconTitle: {
                type: String,
                default: '',
            }
        },
        computed: {
            /**
             * @returns {string}
             */
            statusIconClass() {
                switch (this.statusIcon) {
                    case 'jira-issue-persisted-unreported':
                    case 'has-latest-coding-task':
                        return 'fa fa-circle';
                    case 'jira-issue-persisted':
                        return 'fa fa-circle-o'
                }

                return '';
            },

            /**
             * @returns {string}
             */
            statusIconColorClass() {
                switch (this.statusIcon) {
                    case 'jira-issue-persisted':
                    case 'jira-issue-persisted-unreported':
                        return 'green';
                    case 'has-latest-coding-task':
                        return 'blue'
                }

                return 'white';
            }
        }
    }
</script>

<style scoped lang="scss">
    .icon {
        font-size: 20vmin;
        position: relative;
        text-shadow: 0.03em 0.03em 5px rgba(0,0,0,0.3);

        i {
            position: absolute;
            font-size: 0.3em;
            right: -0.3em;
            bottom: 0;

            &.white {
                color: #ffffff;
            }

            &.green {
                color: #048605;
            }

            &.blue {
                color: #0c85c1;
            }
        }
    }
</style>