<template>
    <div class="timer">
        <template v-if="showIndicator">
            <i v-if="running" class="running-indicator fa fa-circle"></i>
            <i v-else class="suspended-indicator fa fa-circle"></i>
        </template>
        {{ timeFormatted }}
    </div>
</template>

<script>
    import TimeFormatter from "../services/TimeFormatter";

    export default {
        name: "Timer",
        props: {
            initialTime: {
                type: Number,
                required: true,
            },
            running: {
                type: Boolean,
                default: true,
            },
            type: {
                type: String,
                default: 'timer',
            },
            showIndicator: {
                type: Boolean,
                default: true,
            }
        },
        data() {
            return {
                time: this.initialTime,
                timerHandle: null,
            };
        },
        computed: {
            /**
             * @returns {string}
             */
            timeFormatted() {
                return TimeFormatter.format(this.time, 'timer' === this.type);
            }
        },
        mounted() {
            if (this.running) {
                this.timerHandle = setInterval(() => {
                    this.time++;
                }, 1000);
            }
        },
        updated() {
            if (this.running && this.timerHandle === null) {
                this.timerHandle = setInterval(() => {
                    this.time++;
                }, 1000);
            } else if (!this.running && this.timerHandle !== null) {
                clearInterval(this.timerHandle);
                this.timerHandle = null;
            }
        },
        destroyed() {
            clearInterval(this.timerHandle);
        }
    }
</script>

<style lang="scss">
    .timer {
        font-family: 'Fira Code', monospace;
        display: inline-block;

        .running-indicator {
            color: #ce0000;
            animation: indicator-pulse;
            animation-duration: 1.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
        }

        .suspended-indicator {
            color: #bfbfbf;
        }

        @keyframes indicator-pulse {
            from {opacity: 0.3;}
            to {opacity: 1;}
        }
    }
</style>