<template>
    <div class="app" v-touch:swipe.bottom="reloadApp">
        <full-screen v-if="showFullScreenBoard" @click="requestFullScreen" />
        <div class="app-bar">
            <div class="app-name">
                <h1>Chronos</h1>
                <h4>Time tracking app</h4>
            </div>

            <div v-if="ITBoardActiveSprint" class="active-sprint">
                {{ ITBoardActiveSprint.name }}
            </div>

            <div class="current-task" v-if="showCurrentTaskButton" @click="goToRunningTask">
                <span class="key">
                    <i class="fa fa-heart" v-if="getCurrentTask.type !== 'permanent' && isUserWorkingAwayFromKeyboard"></i>
                    <i class="fa fa-gear fa-spin" v-if="getCurrentTask.type === 'permanent'"></i>
                    {{ getCurrentTask.key }}
                </span>
                <timer :initial-time="getCurrentTask.duration || 0" :running="isCurrentTaskRunning" class="timer" />
            </div>

            <div class="app-icons">
                <i class="icon fa fa-flag-checkered" :class="{inactive: getShowClosedLocalTasks === false}" @click="toggleShowClosedLocalTasks"></i>
                <i class="icon fa fa-pie-chart" @click="$router.push({name: 'todays_time_distribution'})"></i>
                <i v-if="isUserActive" class="icon activity-icon fa fa-heartbeat"></i>
            </div>
        </div>
        <transition :name="viewTransition">
            <router-view
                @task-change="fetchCurrentRunningTask"
            ></router-view>
        </transition>
    </div>
</template>

<script>
    import JiraProxyClient from "./clients/JiraProxyClient";

    const JIRA_BOARD_ID_IT = 31;

    import routes from './routing';
    import VueRouter from "vue-router";
    import Jumper from "vue-loading-spinner/src/components/Jumper";
    import config from './config';
    import DbClient from "./clients/DbClient";
    import Timer from "./components/Timer";
    import WorklogManager from "./services/WorklogManager";
    import VuexStoreMixin from "./mixins/VuexStoreMixin";
    import moment from "moment";
    import FullScreen from "./components/FullScreen";

    const router = new VueRouter({
        routes,
    });

    export default {
        name: 'App',
        components: {FullScreen, Timer, Jumper},
        router,
        mixins: [VuexStoreMixin],
        data: function() {
            return {
                isInFullScreen: false,
                viewTransition: 'slide-left',
            };
        },
        computed: {
            /**
             * @returns {boolean}
             */
            showFullScreenBoard() {
                return config.chronos.fullscreen && !this.isInFullScreen;
            },

            /**
             * @returns {boolean}
             */
            showCurrentTaskButton() {
                return (this.getCurrentTask !== null)  && this.$route.name !== 'task_run';
            },

            /**
             * @returns {boolean}
             */
            isCurrentTaskRunning() {
                const hasCurrentTask = this.getCurrentTask !== null;
                const isTaskPermanent = hasCurrentTask && this.getCurrentTask.type === 'permanent';
                const isUserActive = this.isUserActive;
                const isUserWorkingAwayFromKeyboard = this.isUserWorkingAwayFromKeyboard;

                return hasCurrentTask && (isTaskPermanent || isUserActive || isUserWorkingAwayFromKeyboard);
            },

            /**
             * @returns {boolean}
             */
            shouldCloseWorklogOnIdle() {
                const hasCurrentTask = this.getCurrentTask !== null;
                const isTaskPermanent = hasCurrentTask && this.getCurrentTask.type === 'permanent';
                const isUserWorkingAwayFromKeyboard = this.isUserWorkingAwayFromKeyboard;

                return hasCurrentTask && !isTaskPermanent && !isUserWorkingAwayFromKeyboard;
            },

            /**
             * @returns {boolean}
             */
            shouldOpenWorklogOnActive() {
                const hasCurrentTask = this.getCurrentTask !== null;
                const isTaskPermanent = hasCurrentTask && this.getCurrentTask.type === 'permanent';
                const isUserWorkingAwayFromKeyboard = this.isUserWorkingAwayFromKeyboard;

                return hasCurrentTask && !isTaskPermanent && !isUserWorkingAwayFromKeyboard;
            },

            /**
             * @returns {object}
             */
            ITBoardActiveSprint() {
                return this.getActiveSprints[this.getJiraBoard];
            }
        },
        watch: {
            /**
             * @param {string} to
             * @param {string} from
             */
            '$route'(to, from) {
                const toName = to.name;
                const fromName = from.name;

                switch (true) {
                    case toName === 'dashboard':
                        this.viewTransition = 'slide-right';
                        break;
                    case toName === 'local_tasks_list' && fromName === 'remote_tasks_list':
                        this.viewTransition = 'slide-right';
                        break;
                    default:
                        this.viewTransition = 'slide-left';
                }

                if (toName === 'task_run' && to.params.type === 'coding') {
                    this.lastCodingTask = to.params.key;
                }
            },
        },
        methods: {
            reloadApp() {
                location.reload();
            },

            /**
             * @returns {Boolean}
             */
            requestFullScreen() {
                let isInFullScreen = this.isInFullScreen;

                if (isInFullScreen || !config.chronos.fullscreen) {
                    return false;
                }

                const element = document.body;
                let requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullscreen;

                if (requestMethod) {
                    requestMethod.call(element);
                    this.isInFullScreen = true;
                }

                return false
            },

            toggleShowClosedLocalTasks() {
                this.setShowClosedLocalTasks(!this.getShowClosedLocalTasks);
            },

            goToRunningTask() {
                this.$router.push({name: 'task_run', params: {
                    key: this.getCurrentTask.key,
                }})
            },

            /**
             * @param {object} event
             */
            async workTrackerHandler(event) {
                let data = JSON.parse(event.data);

                if (data.type === 'active') {
                    this.setUserActive(true);

                    if (this.shouldOpenWorklogOnActive) {
                        await this.worklogManager.openNewWorklog(this.getCurrentTask.key);
                        this.$emit('task-change');
                    }
                }

                if (data.type === 'idle') {
                    this.setUserActive(false);

                    if (this.shouldCloseWorklogOnIdle) {
                        await this.worklogManager.closeWorklog();
                        this.$emit('task-change');
                    }
                }
            },

            async fetchCurrentRunningTask() {
                if (undefined === this.database) {
                    return;
                }

                try {
                    const currentTask = await this.database.getCurrentRunningTask();
                    this.setCurrentTask(currentTask[0]);
                } catch (error) {
                    if (error.request !== undefined && error.request.status === 404) {
                        console.log('There is no task currently running.');
                        this.setCurrentTask(null);
                    } else {
                        throw error;
                    }
                }
            },

            async fetchActiveSprints() {
                const boards = [
                    this.getJiraBoard
                ];

                const sprints = {};

                for (let boardId of boards) {
                    const sprint = await this.jira.getActiveSprint(boardId);

                    if (null !== sprint) {
                        sprints[boardId] = sprint;
                    }
                }

                this.setActiveSprints(sprints);
            },

            websocketOpenHandler() {
                this.$toastr.success('Connected to activity tracker.');
                this.websocket.onclose = this.websocketCloseHandler;
                this.websocket.onmessage = this.workTrackerHandler;
            },

            websocketCloseHandler() {
                this.$toastr.error('Disconnected from activity tracker!', null, {timeOut: 0});
                delete this.websocket;
                this.initializeWebsocket();
            },

            initializeWebsocket() {
                this.websocket = new WebSocket(config.activityTracker.host, 'echo-protocol');
                this.websocket.onopen = this.websocketOpenHandler;
            },
        },
        created() {
            this.isInFullScreen = (document.fullScreenElement && document.fullScreenElement !== null) || (document.mozFullScreen || document.webkitIsFullScreen);
            this.database = new DbClient();
            this.jira = new JiraProxyClient();
            this.worklogManager = new WorklogManager();
            this.setToday(moment().format('YYYY-MM-DD'));
            this.setJiraBoard(JIRA_BOARD_ID_IT);
        },
        async mounted() {
            this.initializeWebsocket();
            await this.fetchCurrentRunningTask();
            await this.fetchActiveSprints();
        }
    }
</script>

<style lang="scss" scoped>
    .slide-left-enter-active, .slide-right-enter-active {
        transition: margin .6s, opacity .6s;
    }

    .slide-left-leave-active, .slide-right-leave-active {
        transition: margin .6s, opacity .6s;
    }

    .slide-left-enter {opacity: 0; margin-left: 100vw;}
    .slide-left-enter-to {opacity: 1; margin-left: 0;}
    .slide-left-leave {opacity: 1; margin-left: 0;}
    .slide-left-leave-to {opacity: 0; margin-left: -100vw;}

    .slide-right-enter {opacity: 0; margin-left: -100vw;}
    .slide-right-enter-to {opacity: 1; margin-left: 0;}
    .slide-right-leave {opacity: 1; margin-left: 0;}
    .slide-right-leave-to {opacity: 0; margin-left: 100vw;}

    .app {
        box-shadow: inset 0 0 150px 50px #000000;
        background-image: url('../public/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;

        .app-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            color: #ffffff;
            z-index: 100;
            display: flex;
            align-items: center;

            .app-name {
                pointer-events: none;
                display: inline-block;
                vertical-align: middle;

                h1, h4 {
                    opacity: 0.2;
                    font-family: 'Indie Flower', cursive;
                    margin: 0;
                }

                h4 {
                    margin-top: -15px;
                    opacity: 0.1;
                }
            }

            .active-sprint {
                margin-left: 20px;
                margin-top: -10px;
                opacity: 0.4;
            }

            .current-task {
                display: inline-block;
                vertical-align: middle;
                background-color: rgba(0,0,0,0.3);
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #000000;
                margin-left: 40px;
                cursor: pointer;

                .key {
                    font-weight: bold;
                }

                .timer {
                    display: inline-block;
                    margin-left: 20px;
                }
            }
        }

        .app-icons {
            position: fixed; top: 10px; right: 30px;
            display: flex;
            justify-content: space-between;

            .icon {
                font-size: 30px;
                margin-left: 30px;

                &.inactive {
                    opacity: 0.4;
                }
            }

            .activity-icon {
                color: #ce0000;
                animation: activity-pulse;
                animation-duration: 1.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
            }

            @keyframes activity-pulse {
                from {opacity: 0.3;}
                to {opacity: 1;}
            }
        }
    }
</style>

<style lang="scss">
    * {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
        user-select: none;
    }

    body {
        font-family: 'Work Sans', sans-serif;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #toast-container {
        .toast {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
</style>
